<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.egovstudy.bbs.mapper.CommentMapper">
	<!-- CREATE -->
	<insert id="insert">
		INSERT INTO comment(writer, post, content)
		VALUES(#{writer},#{post},#{content})
	</insert>
	
	<!-- READ -->
	<select id="getListByPostId" resultType="com.egovstudy.bbs.vo.Comment">
		SELECT * FROM comment WHERE post = #{id} ORDER BY id DESC
	</select>
	<!-- UPDATE -->
	<update id="update">
		UPDATE comment SET content = #{content} WHERE id = #{id}
	</update>
	<!-- DELETE -->
	<delete id="delete">
		DELETE FROM comment WHERE id = #{id}
	</delete>
</mapper>